%fieldset
  %legend
    = t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}")

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      = f.input :email,
        :hint => t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}")
    - else
      = f.input :email
    = f.input :password, :autocomplete => 'off',
      :hint => t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")
    = f.input :password_confirmation
    = f.input :current_password,
      :hint => t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes')
    = f.submit t('.update', :default => 'Update'), :class => 'button small-offset-18'

.row
  .small-12.columns.small-offset-1
    = link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name),
      :data => { :confirm => t('.are_you_sure', :default => 'Are you sure?') }, :method => :delete,
      :class => 'button'
    = link_to t('devise.shared.links.back', :default => 'Back'), :back,
      :class => 'button'

