%fieldset
  %legend
    = t('.sign_up', :default => 'Sign up')

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    .row
      = devise_error_messages!
    .row
      .small-6.columns
        = f.label :email, :class => 'inline'
      .small-18.columns
        = f.email_field :email
    .row
      .small-6.columns
        = f.label :password, :class => 'inline'
      .small-18.columns
        = f.password_field :password
    .row
      .small-6.columns
        = f.label :password_confirmation, :class => 'inline'
      .small-18.columns
        = f.password_field :password_confirmation
    .row
      .small-6.columns.small-offset-18
        = f.submit t('.sign_up', :default => 'Sign up'), :class => 'button radius small'

  .row
    = render 'devise/shared/links'

