= simple_form_for(@game_comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :comment
    = f.association :game, :collection => Game.order(:name)
    = f.association :user, :collection => User.order(:display_name)

  .form-actions
    = f.button :submit, :class => 'button small radius small-offset-18'

