%fieldset
  %legend
    = t('game_comments')

  %table.kutu_datatables
    %thead
      %tr
        %th
        %th= t('activerecord.attributes.game_comment.comment')
        %th= t('activerecord.attributes.game_comment.game')
        %th= t('activerecord.attributes.game_comment.user')
        %th= t('created_at')
        - if signed_in?
          %th
          %th

    %tbody
      - @game_comments.each do |game_comment|
        %tr
          %td= link_to fonticon('eye'), game_comment, :title => t('show')
          %td= game_comment.comment
          %td= link_to game_comment.game.name, game_comment.game
          %td= link_to game_comment.user.display_name, game_comment.user
          %td= format_time(game_comment.created_at)
          - if signed_in?
            %td= link_to fonticon('pencil'), edit_game_comment_path(game_comment), :title => t('edit')
            %td= link_to fonticon('x', 'red'), game_comment, :method => :delete, :data => { :confirm => t('are_you_sure')}, :title => t('delete')

  %br
  - if signed_in?
    = link_to t('generic.new_model', :name => GameComment.model_name.human), new_game_comment_path, :class => 'button'

