%fieldset
  %legend
    = t('generic.edit_model', :name => House.model_name.human)
    \-
    = @house.name

  = render 'form'

  .row
    .small-12.columns.small-offset-1
      = link_to t('show'), @house, :class => 'button'
      = link_to t('back'), houses_path, :class => 'button'

