%fieldset
  %legend
    = t('houses')

  %table.kutu_datatables
    %thead
      %tr
        %th
        %th= t('activerecord.attributes.house.name')
        - if signed_in?
          %th
          %th

    %tbody
      - @houses.each do |house|
        %tr
          %td= link_to fonticon('eye'), house, :title => t('show')
          %td= link_to house.name, house
          - if signed_in?
            %td= link_to fonticon('pencil'), edit_house_path(house), :title => t('edit')
            %td= link_to fonticon('x', 'red'), house, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('delete')

  %br
  - if signed_in?
    = link_to t('generic.new_model', :name => House.model_name.human), new_house_path, :class => 'button'

