%fieldset
  %legend
    = House.model_name.human
  .row
    .small-8.columns.text_bold
      = t('activerecord.attributes.house.name')
    .small-16.columns
      = @house.name
  .row
    .small-8.columns.text_bold
      = t('created_at')
    .small-16.columns
      = format_time(@house.created_at)
  .row
    .small-8.columns.text_bold
      = t('updated_at')
    .small-16.columns
      = format_time(@house.updated_at)

%fieldset
  %legend
    = t('games')

  %table.kutu_datatables
    %thead
      %tr
        %th
        %th= t('activerecord.attributes.game.name')
        %th= t('activerecord.attributes.game.active')
    %tbody
      - @games.each do |game|
        %tr
          %td= link_to fonticon('eye'), game, :title => t('show')
          %td= link_to title_for_game(game), game
          %td= game.active ? fonticon('check', 'green') : fonticon('x', 'red')

.row
  .small-12.columns.small-offset-1
    - if signed_in?
      = link_to t('edit'), edit_house_path(@house), :class => 'button'
      = link_to t('delete'), @house, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'
    = link_to t('back'), houses_path, :class => 'button'

