= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :publish
    = f.input :publish_time
    = f.association :game
    = f.association :picture
    = f.input :content

  .form-actions
    = f.button :submit, :class => 'button small radius small-offset-18'

