= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :publish
    = f.input :publish_time
    = f.association :game
    =# f.association :picture
    = render :partial => 'shared/image_selector_modal', :locals => {:f => f, :form_object => @article, :form_attr => :picture}
    = f.input :content, :input_html => {:rows => 20}

  .form-actions
    = f.button :submit, :class => 'button small radius small-offset-18'

