= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :required => true
    = f.input :publish
    = f.input :publish_time
    = f.input :frontpage
    = f.association :game, :collection => Game.order(:name)
    =# f.association :picture
    = render :partial => 'shared/image_selector_modal', :locals => {:f => f, :form_object => @article, :form_attr => :picture}
    .row
      .small-6.columns
        = f.label t('additional_pictures')
      .small-18.columns
        - @article.pictures.each do |pict|
          = image_tag image_thumb_url_or_fallback(pict), :class => 'image_thumb_preview'
    %br
    = f.association :article_categories, :as => :check_boxes, :label => t('article_categories')
    = f.input :content, :input_html => {:rows => 20}
    = f.hidden_field :updated_by_id, :value => current_user.try(:id)

  .form-actions
    = f.button :submit, :class => 'button small radius small-offset-12 large-offset-18'

