%fieldset
  %legend
    = t('additional_pictures')
    \-
    = @article.title

  = simple_form_for(@article, :url => update_additional_pictures_article_path, :method => :post) do |f|
    = f.error_notification

    .form-inputs
      = f.hidden_field :updated_by_id, :value => current_user.try(:id)
      = f.select :picture_ids,
        Picture.order('updated_at DESC').map{|k| [k.id, {'data-img-src' => k.image.url(:thumb)}]},
          {}, {:multiple => true, :class => 'image-picker show-html'}

    .form-actions
      = f.button :submit, :class => 'button small radius small-offset-12 large-offset-18'

.row
  .small-12.columns.small-offset-1
    = link_to t('show'), @article, :class => 'button radius small'
    = link_to t('edit'), edit_article_path(@article), :class => 'button radius small'
    = link_to t('back'), articles_path, :class => 'button radius small'

