%fieldset
  %legend
    = t('articles')

  %table.kutu_datatables
    %thead
      %tr
        %th= t('activerecord.attributes.article.title')
        %th= t('activerecord.attributes.article.publish')
        %th= t('activerecord.attributes.article.publish_time')
        %th= t('activerecord.attributes.article.game')
        %th= t('activerecord.attributes.article.picture')
        %th= t('activerecord.attributes.article.content')
        %th= t('activerecord.attributes.article.created_by')
        %th= t('activerecord.attributes.article.updated_by')
        %th
        %th
        %th

    %tbody
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= article.publish
          %td= article.publish_time
          %td= article.game
          %td= image_tag_for_picture(article.picture)
          %td= article.content
          %td= article.created_by
          %td= article.updated_by
          %td= link_to fonticon('eye'), article, :title => t('show')
          %td= link_to fonticon('pencil'), edit_article_path(article), :title => t('edit')
          %td= link_to fonticon('x', 'red'), article, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('delete')

%br

= link_to t('generic.new_model', :name => Article.model_name.human), new_article_path, :class => 'button small radius'

