%fieldset
  %legend
    = @article.title
  - if @article.picture
    .row
      .small-20.columns.small-centered.text-center
        /= image_tag @article.picture.image.url
        %img.small-24.large-16.columns.small-centered.image_selector_picture{'data-interchange' => "[#{@article.picture.image.url(:small)}, (small)], [#{@article.picture.image.url(:medium)}, (medium)]"}
        - if @article.picture.caption
          .text_italic
            = @article.picture.caption
  %br
  .row
    .small-6.columns.small-offset-18.text_italic.grey
      = format_time(@article.publish_time, :db_date_no_time)
  %br
  .row
    .small-20.columns.small-offset-2
      = simple_format(@article.content)
  %br
  - if @article.game
    .row
      /.small-8.columns
      /  = t('activerecord.attributes.article.game')
      .small-24.columns.right.text_right
        = link_to title_for_game(@article.game), @article.game, :class => 'button small radius small-offset-16'

.row
  .small-12.columns.small-offset-1
    - if signed_in?
      = link_to t('edit'), edit_article_path(@article), :class => 'button radius small'
    = link_to t('back'), articles_path, :class => 'button radius small'

