%p
  %b Title:
  = @article.title
%p
  %b Publish:
  = @article.publish
%p
  %b Publish time:
  = @article.publish_time
%p
  %b Game:
  = @article.game.try(:name)
%p
  %b Picture:
  = @article.picture
%p
  %b Content:
  = @article.content
%p
  %b Created by:
  = @article.created_by.try(:display_name)
%p
  %b Updated by:
  = @article.updated_by.try(:display_name)

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_article_path(@article), :class => 'button radius small'
    = link_to t('back'), articles_path, :class => 'button radius small'

