%p
  %b
    = t('activerecord.attributes.article.title')
  = @article.title
%p
  %b
    = t('activerecord.attributes.article.publish')
  = @article.publish
%p
  %b
    = t('activerecord.attributes.article.publish_time')
  = @article.publish_time
%p
  %b
    = t('activerecord.attributes.article.game')
  = @article.game.try(:name)
%p
  %b
    = t('activerecord.attributes.article.picture')
  = @article.picture
%p
  %b
    = t('activerecord.attributes.article.content')
  = @article.content
%p
  %b
    = t('activerecord.attributes.article.created_by')
  = @article.created_by.try(:display_name)
%p
  %b
    = t('activerecord.attributes.article.updated_by')
  = @article.updated_by.try(:display_name)

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_article_path(@article), :class => 'button radius small'
    = link_to t('back'), articles_path, :class => 'button radius small'

