%fieldset
  %legend
    = t('game_labels')

  %table.kutu_datatables
    %thead
      %tr
        %th
        %th= t('activerecord.attributes.game_label.name')
        %th= t('activerecord.attributes.game_label.description')
        - if signed_in?
          %th
          %th

    %tbody
      - @game_labels.each do |game_label|
        %tr
          %td= link_to fonticon('eye'), game_label, :title => t('show')
          %td= game_label.name
          %td= game_label.description
          - if signed_in?
            %td= link_to fonticon('pencil'), edit_game_label_path(game_label), :title => t('edit')
            %td= link_to fonticon('x', 'red'), game_label, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('delete')

  %br
  - if signed_in?
    = link_to t('generic.new_model', :name => GameLabel.model_name.human), new_game_label_path, :class => 'button'

