.small-centered.text-center
  %button.dropdown.button{'data-toggle' => 'dropdown_cities'}
    = "#{t('activerecord.attributes.game.city')}: #{t('all')}"
  #dropdown_cities.dropdown-pane.background_white{'data-dropdown' => '', 'data-auto-focus' => true, 'data-close-on-click' => 'true'}
    %ul.no-bullet.text-left
      - ([t('all')] + cities).each do |city|
        %li
          %a{:href => "javascript:filter_game_list('cities', '#{city}');"}
            = city

  %button.dropdown.button{'data-toggle' => 'dropdown_game_categories'}
    = "#{t('activerecord.attributes.game.game_category')}: #{t('all')}"
  #dropdown_game_categories.dropdown-pane.background_white{'data-dropdown' => '', 'data-auto-focus' => true, 'data-close-on-click' => 'true'}
    %ul.no-bullet.text-left
      - ([t('all')] + game_categories).each do |game_category|
        %li
          %a{:href => "javascript:filter_game_list('game_categories', '#{game_category}');"}
            = game_category

  %button.dropdown.button{'data-toggle' => 'dropdown_active'}
    = "#{t('activerecord.attributes.game.active')}: #{t('all')}"
  #dropdown_active.dropdown-pane.background_white{'data-dropdown' => '', 'data-auto-focus' => true, 'data-close-on-click' => 'true'}
    %ul.no-bullet.text-left
      %li
        %a{:href => "javascript:filter_game_list('active', '#{t('all')}');"}
          = t('all')
      %li
        %a{:href => "javascript:filter_game_list('active', '1');"}
          = fonticon('check', 'green')
      %li
        %a{:href => "javascript:filter_game_list('active', '0');"}
          = fonticon('x', 'red')

