%fieldset
  %legend
    = t('generic.edit_model', :name => Game.model_name.human)
    \-
    = @game.name

  = render 'form'

.row
  .small-12.columns.small-offset-1
    = link_to t('show'), @game, :class => 'button'
    = link_to t('back'), games_path, :class => 'button'

