%fieldset
  %legend
    = t('games')
  .row
    .small-centered.text-center
      %button.dropdown.button{'data-toggle' => 'dropdown_cities'}
        = "#{t('activerecord.attributes.game.city')}: #{t('all')}"
      #dropdown_cities.dropdown-pane.background_white{'data-dropdown' => '', 'data-auto-focus' => true, 'data-close-on-click' => 'true'}
        %ul.no-bullet.text-left
          - ([t('all')] + @cities).each do |city|
            %li
              %a{:href => "javascript:filter_game_list('cities', '#{city}');"}
                = city

      %button.dropdown.button{'data-toggle' => 'dropdown_game_categories'}
        = "#{t('activerecord.attributes.game.game_category')}: #{t('all')}"
      #dropdown_game_categories.dropdown-pane.background_white{'data-dropdown' => '', 'data-auto-focus' => true, 'data-close-on-click' => 'true'}
        %ul.no-bullet.text-left
          - ([t('all')] + @game_categories).each do |game_category|
            %li
              %a{:href => "javascript:filter_game_list('game_categories', '#{game_category}');"}
                = game_category

      %button.dropdown.button{'data-toggle' => 'dropdown_active'}
        = "#{t('activerecord.attributes.game.active')}: #{t('all')}"
      #dropdown_active.dropdown-pane.background_white{'data-dropdown' => '', 'data-auto-focus' => true, 'data-close-on-click' => 'true'}
        %ul.no-bullet.text-left
          %li
            %a{:href => "javascript:filter_game_list('active', '#{t('all')}');"}
              = t('all')
          %li
            %a{:href => "javascript:filter_game_list('active', '1');"}
              = fonticon('check', 'green')
          %li
            %a{:href => "javascript:filter_game_list('active', '0');"}
              = fonticon('x', 'red')

  %table#games_index.kutu_datatables
    %thead
      %tr
        %th
        %th
        %th= t('activerecord.attributes.game.name')
        %th
        %th= t('activerecord.attributes.game.active')
        /%th= t('activerecord.attributes.game.address')
        %th= t('activerecord.attributes.game.city')
        %th= t('activerecord.attributes.game.game_category')
        /%th= t('activerecord.attributes.game.house')
        /%th= t('activerecord.attributes.game.phone')
        /%th= t('activerecord.attributes.game.email')
        %th= t('activerecord.attributes.game.website')
        /%th= t('activerecord.attributes.game.facebook')
        /%th= t('activerecord.attributes.game.twitter')
        /%th= t('activerecord.attributes.game.instagram')
        /%th= t('activerecord.attributes.game.lat')
        /%th= t('activerecord.attributes.game.lng')
        /%th= t('activerecord.attributes.game.story')
        /%th= t('activerecord.attributes.game.game_times')
        - if signed_in?
          %th
          %th

    %tbody
      - @games.each do |game|
        %tr
          %td= link_to fonticon('eye'), game, :title => t('show')
          %td
            - if signed_in?
              = link_to fonticon('map'), map_path(:focus_on => game.slug), :title => t('show_on_map')
          %td= link_to title_for_game(game), game
          %td= game.active ? '1' : '0'
          %td= game.active ? fonticon('check', 'green') : fonticon('x', 'red')
          /%td= game.address
          %td= game.city.try(:name)
          %td= game.game_category.try(:name)
          /%td= game.house.try(:name)
          /%td= game.phone
          /%td= game.email
          %td= game.website ? link_to(game.website, game.website) : ''
          /%td= game.facebook
          /%td= game.twitter
          /%td= game.instagram
          /%td= game.lat
          /%td= game.lng
          /%td= game.story
          /%td= game.game_times
          - if signed_in?
            %td= link_to fonticon('pencil'), edit_game_path(game), :title => t('edit')
            %td= link_to fonticon('x', 'red'), game, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('delete')

  %br
  - if signed_in?
    = link_to t('generic.new_model', :name => Game.model_name.human), new_game_path, :class => 'button'

:javascript
  var datatables_filter_base = {
    active: {
      label: '#{t('activerecord.attributes.game.active')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 2,
      is_bool: true,
      bool_true_display: "#{fonticon('check', 'green text_normal')}",
      bool_false_display: "#{fonticon('x', 'red text_normal')}"
    },
    cities: {
      label: '#{t('activerecord.attributes.game.city')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 4
    },
    game_categories: {
      label: '#{t('activerecord.attributes.game.game_category')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 5
    }
  };


