%fieldset
  %legend
    = t('games')
  .row
    = render :partial => 'shared/game_filter', :locals => {:cities => @cities, :game_categories => @game_categories}

  %table#games_index.kutu_datatables
    %thead
      %tr
        %th
        %th
        %th= t('activerecord.attributes.game.name')
        %th
        %th= t('activerecord.attributes.game.active')
        %th= t('activerecord.attributes.game.city')
        %th= t('activerecord.attributes.game.game_category')
        %th= t('activerecord.attributes.game.website')
        - if signed_in?
          %th
          %th

    %tbody
      - @games.each do |game|
        %tr
          %td= link_to fonticon('eye'), game, :title => t('show')
          %td
            - if game.lat && game.lng
              = link_to fonticon('map'), map_path(:focus_on => game.slug), :title => t('show_on_map')
          %td= link_to title_for_game(game), game
          %td= game.active ? '1' : '0'
          %td= game.active ? fonticon('check', 'green') : fonticon('x', 'red')
          %td= game.city.try(:name)
          %td= game.game_category.try(:name)
          %td= game.website ? link_to(game.website, game.website) : ''
          - if signed_in?
            %td= link_to fonticon('pencil'), edit_game_path(game), :title => t('edit')
            - if @articles_with_games.include?(game.id)
              %td
            - else
              %td= link_to fonticon('x', 'red'), game, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('delete')

  %br
  - if signed_in?
    = link_to t('generic.new_model', :name => Game.model_name.human), new_game_path, :class => 'button'

:javascript
  var datatables_filter_base = {
    active: {
      label: '#{t('activerecord.attributes.game.active')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 3,
      is_bool: true,
      bool_true_display: "#{fonticon('check', 'green text_normal')}",
      bool_false_display: "#{fonticon('x', 'red text_normal')}"
    },
    cities: {
      label: '#{t('activerecord.attributes.game.city')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 5
    },
    game_categories: {
      label: '#{t('activerecord.attributes.game.game_category')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 6
    }
  };


