%p
  %b Name:
  = @game.name
%p
  %b Address:
  = @game.address
%p
  %b City:
  = @game.city
%p
  %b Game category:
  = @game.game_category
%p
  %b House:
  = @game.house
%p
  %b Phone:
  = @game.phone
%p
  %b Email:
  = @game.email
%p
  %b Website:
  = @game.website
%p
  %b Facebook:
  = @game.facebook
%p
  %b Twitter:
  = @game.twitter
%p
  %b Instagram:
  = @game.instagram
%p
  %b Lat:
  = @game.lat
%p
  %b Lng:
  = @game.lng
%p
  %b Story:
  = @game.story
%p
  %b Game times:
  = @game.game_times

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_game_path(@game), :class => 'button radius small'
    = link_to t('back'), games_path, :class => 'button radius small'

