%p
  %b
    = t('activerecord.attributes.game.name')
  = @game.name
%p
  %b
    = t('activerecord.attributes.game.address')
  = @game.address
%p
  %b
    = t('activerecord.attributes.game.city')
  = @game.city.try(:name)
%p
  %b
    = t('activerecord.attributes.game.game_category')
  = @game.game_category.try(:name)
%p
  %b
    = t('activerecord.attributes.game.house')
  = @game.house.try(:name)
%p
  %b
    = t('activerecord.attributes.game.phone')
  = @game.phone
%p
  %b
    = t('activerecord.attributes.game.email')
  = @game.email
%p
  %b
    = t('activerecord.attributes.game.website')
  = @game.website
%p
  %b
    = t('activerecord.attributes.game.facebook')
  = @game.facebook
%p
  %b
    = t('activerecord.attributes.game.twitter')
  = @game.twitter
%p
  %b
    = t('activerecord.attributes.game.instagram')
  = @game.instagram
%p
  %b
    = t('activerecord.attributes.game.lat')
  = @game.lat
%p
  %b
    = t('activerecord.attributes.game.lng')
  = @game.lng
%p
  %b
    = t('activerecord.attributes.game.story')
  = @game.story
%p
  %b
    = t('activerecord.attributes.game.game_times')
  = @game.game_times

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_game_path(@game), :class => 'button radius small'
    = link_to t('back'), games_path, :class => 'button radius small'

