%fieldset
  %legend
    = title_for_game(@game)

  .row
    .small-6.columns.text_bold
      = t('activerecord.attributes.game.house')
    .small-18.columns
      - if @game.house
        = link_to @game.house.name, @game.house
  .row
    .small-6.columns.text_bold
      = t('activerecord.attributes.game.active')
    .small-18.columns
      = @game.active ? fonticon('check', 'green') : fonticon('x', 'red')
  .row
    .small-6.columns.text_bold
      = t('activerecord.attributes.game.game_category')
    .small-18.columns
      = @game.game_category.try(:name)
  .row
    .small-6.columns.text_bold
      = t('activerecord.attributes.game.city')
    .small-18.columns
      = @game.city.try(:name)
  .row
    .small-6.columns.text_bold
      = t('activerecord.attributes.game.address')
    .small-18.columns
      = @game.address
  .row
    .small-6.columns.text_bold
      /= t('activerecord.attributes.game.phone')
      = fonticon('telephone')
    .small-18.columns
      = @game.phone
  .row
    .small-6.columns.social_button_generic.social-share-button-email-blue
      /= t('activerecord.attributes.game.email')
      /= fonticon('mail')
    .small-18.columns
      - if @game.email
        = mail_to @game.email
  .row
    .small-6.columns.social_button_generic.social-share-button-share
      /= t('activerecord.attributes.game.website')
      /= fonticon('link')
    .small-18.columns
      - if @game.website
        = link_to @game.website, @game.website
  .row
    .small-6.columns.social_button_generic.social-share-button-facebook
      /= t('activerecord.attributes.game.facebook')
      /= fonticon('social-facebook', 'facebook')
    .small-18.columns
      - if @game.facebook
        = link_to @game.facebook, @game.facebook
  .row
    .small-6.columns.social_button_generic.social-share-button-twitter
      /= t('activerecord.attributes.game.twitter')
      /= fonticon('social-twitter', 'twitter')
    .small-18.columns
      - if @game.twitter
        = link_to @game.twitter, @game.twitter
  .row
    .small-6.columns.social_button_generic.social-share-button-instagram
      /= t('activerecord.attributes.game.instagram')
      /= fonticon('social-instagram', 'instagram')
    .small-18.columns
      - if @game.instagram
        = link_to @game.instagram, @game.instagram
  %br
  - if signed_in?
    .row
      .small-6.columns.text_bold
        = t('activerecord.attributes.game.game_times')
      .small-18.columns
        = @game.game_times
  .row
    .small-6.columns.text_bold
      = t('activerecord.attributes.game.story')
    .small-18.columns
      %article
        = simple_format(@game.story, {}, :sanitize => false)

  - if @articles.present?
    %br
    .row
      .small-6.columns.text_bold
        = t('related_articles')
      .small-18.columns
        - @articles.each do |article|
          .row
            .small-24.columns
              = link_to article.title, article#, :class => 'button'

  %br
  .row
    .small-16.columns.small-offset-1
      - if signed_in?
        = link_to t('edit'), edit_game_path(@game), :class => 'button'
        = link_to t('delete'), @game, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'
        = link_to t('generic.new_model', :name => GameComment.model_name.human), new_game_comment_path(:game_id => @game.id), :class => 'button'
      = link_to t('back'), games_path, :class => 'button'

- if signed_in?
  .row
    .small-24.columns
      - @game.game_comments.each do |game_comment|
        %br
        %fieldset
          %legend
            = game_comment.user.display_name
          .small-16.columns
            = simple_format(game_comment.comment, {}, :sanitize => false)
          .small-8.columns
            .float-right
              %i.text_small.grey
                = format_time(game_comment.updated_at)
              - if game_comment.user_id == current_user.id
                %br
                = link_to fonticon('x', 'red right'), game_comment, :method => :delete, :data => { :confirm => t('are_you_sure')}, :title => t('delete')
                = link_to fonticon('pencil', 'right'), edit_game_comment_path(game_comment), :title => t('edit')
%br

