%fieldset
  %legend
    = t('generic.edit_model', :name => Picture.model_name.human)
    \-
    = @picture.name

  = render 'form'

.row
  .small-12.columns.small-offset-1
    = link_to t('show'), @picture, :class => 'button'
    = link_to t('back'), pictures_path, :class => 'button'

