%h1 Listing pictures

%table
  %thead
    %tr
      %th
      %th File Name
      %th Name
      %th Caption
      %th Game
      %th
      %th
      %th

  %tbody
    - @pictures.each do |picture|
      %tr
        %td= link_to image_tag(picture.image.url(:thumb)), picture
        %td= picture.image_file_name
        %td= picture.name
        %td= picture.caption
        %td= picture.game
        %td= link_to fonticon('eye'), picture, :title => 'View'
        %td= link_to fonticon('pencil'), edit_picture_path(picture), :title => 'Edit'
        %td= link_to fonticon('x', 'red'), picture, :method => :delete, :data => { :confirm => 'Are you sure?' }, :title => 'Delete'

%br

= link_to 'New Picture', new_picture_path
= link_to 'New Multi Picture', new_multi_pictures_path

