%fieldset
  %legend
    = t('multi_picture')

  = simple_form_for(:multi_pictures, :url => create_multi_pictures_path, :method => :post) do |f|
    = f.error_notification
    .form-inputs
      /= file_field_tag 'images[]', :type => :file, :multiple => true, :class => 'button'
      = f.input :images, :as => :file, :label => false,
        :input_html => {:class => 'button', :multiple => :multiple}

    .form-actions.float-right
      = f.button :submit, t('new_multi_picture'), :class => 'button'

.row
  .small-12.columns.small-offset-1
    = link_to t('back'), pictures_path, :class => 'button'

