%p#notice= notice

%p
  %b Name:
  = @picture.name
%p
  %b Game:
  = @picture.game
%p
  %b Image:
  = image_tag @picture.image.url(:medium)

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
