%p
  = image_tag @picture.image.url(:medium)
%p
  %b
    = t('activerecord.attributes.picture.name')
  = @picture.name
%p
  %b
    = t('activerecord.attributes.picture.file_name')
  = @picture.image_file_name
%p
  %b
    = t('activerecord.attributes.picture.caption')
  = @picture.caption
%p
  %b
    = t('activerecord.attributes.picture.game')
  = @picture.game.try(:name)

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_picture_path(@picture), :class => 'button radius small'
    = link_to t('back'), pictures_path, :class => 'button radius small'

