%p
  = image_tag @picture.image.url(:medium)
%p
  %b Name:
  = @picture.name
%p
  %b File Name:
  = @picture.image_file_name
%p
  %b Caption:
  = @picture.caption
%p
  %b Game:
  = @picture.game

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_picture_path(@picture), :class => 'button radius small'
    = link_to t('back'), pictures_path, :class => 'button radius small'

