%fieldset
  %legend
    = t('generic.edit_model', :name => City.model_name.human)
    \-
    = @city.title

  = render 'form'

.row
  .small-12.columns.small-offset-1
    = link_to t('show'), @city, :class => 'button radius small'
    = link_to t('back'), cities_path, :class => 'button radius small'

