%fieldset
  %legend
    = t('cities')

  %table.kutu_datatables
    %thead
      %tr
        %th
        %th= t('activerecord.attributes.city.name')
        - if signed_in?
          %th
          %th

    %tbody
      - @cities.each do |city|
        %tr
          %td= link_to fonticon('eye'), city, :title => t('show')
          %td= city.name
          - if signed_in?
            %td= link_to fonticon('pencil'), edit_city_path(city), :title => t('edit')
            %td= link_to fonticon('x', 'red'), city, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('delete')

  %br
  - if signed_in?
    = link_to t('generic.new_model', :name => City.model_name.human), new_city_path, :class => 'button'

