%fieldset
  %legend
    = City.model_name.human
  .row
    .small-8.columns.text_bold
      = t('activerecord.attributes.city.name')
    .small-16.columns
      = @city.name
  .row
    .small-8.columns.text_bold
      = t('created_at')
    .small-16.columns
      = format_time(@city.created_at)
  .row
    .small-8.columns.text_bold
      = t('updated_at')
    .small-16.columns
      = format_time(@city.updated_at)

.row
  .small-12.columns.small-offset-1
    - if signed_in?
      = link_to t('edit'), edit_city_path(@city), :class => 'button'
      = link_to t('delete'), @city, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'
    = link_to t('back'), cities_path, :class => 'button'

