%fieldset
  %legend
    = t('game_ratings')
  .row
    = render :partial => 'shared/game_filter', :locals => {:cities => @cities, :game_categories => @game_categories}

  %table#game_ratings_index.kutu_datatables
    %thead
      %tr
        %th
        %th
        %th
        %th= Game.model_name.human
        - rating_keys.each do |rk|
          %th= rating_name(rk)

    %tbody
      - @articles.each do |article|
        %tr
          %td= article.game.active ? '1' : '0'
          %td= article.game.city.try(:name)
          %td= article.game.game_category.try(:name)
          %td= link_to title_for_game(article.game), article.game
          - rating_keys.each do |rk|
            %td
              = render :partial => 'shared/rating_display', :locals => {:rating => article[rk], :show_number => true, :small_display => true}

:javascript
  var datatables_filter_base = {
    active: {
      label: '#{t('activerecord.attributes.game.active')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 0,
      is_bool: true,
      bool_true_display: "#{fonticon('check', 'green text_normal')}",
      bool_false_display: "#{fonticon('x', 'red text_normal')}"
    },
    cities: {
      label: '#{t('activerecord.attributes.game.city')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 1
    },
    game_categories: {
      label: '#{t('activerecord.attributes.game.game_category')}',
      default_value: '#{t('all')}',
      current_value: '#{t('all')}',
      data_offset: 2
    }
  };


