%fieldset
  %legend
    = t('generic.edit_model', :name => ArticleCategory.model_name.human)
    \-
    = @article_category.title

  = render 'form'

.row
  .small-12.columns.small-offset-1
    = link_to t('show'), @article_category, :class => 'button radius small'
    = link_to t('back'), article_categories_path, :class => 'button radius small'

