%fieldset
  %legend
    = t('map')

  #map_wrapper.small-24.columns.small-centered
    #map_canvas

:javascript
  var games = #{raw @game_hash.to_json};
  var focus_on = '#{@focus_on}' || null;

= stylesheet_link_tag 'application_map'
= javascript_include_tag 'application_map'

