!!!
%html{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => 'utf-8'}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{:name => 'description', :content => "Belki de hala o evdeyiz, yoksa hala çıkamadık mı? Sonuçta Schrödingiller’iz"}
    %title
      = "#{@page_title || t(controller_name)} - Schrödingiller"
    /= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', :media => 'all'
    /= javascript_include_tag 'vendor/modernizr'
    /= javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = favicon_link_tag 'schrodingiller_small.png'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/alerts'
    #main.row.full-min-height
      - if @fullwidth
        .small-24.columns.small-centered
          = yield
      - else
        %br
        .small-24.large-16.columns.small-centered
          = yield
        %br
    =# render 'layouts/footer'

